@font-face {
  font-family: fonteDigital;
  src: url(../Fontes/DS-DIGII.TTF);
}

body{

  font-family: fonteDigital;
  color: white;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

#ping{
  background-image: url(../Imagens/ping.jpg);
}

#alan{
  background-image: url(../Imagens/alao.jpg);
}

#luan{
  background-image: url(../Imagens/luan.jpg);
}

#augusto{
  background-image: url(../Imagens/augusto.jpg);
}

#ping:hover, #alan:hover, #luan:hover, #augusto:hover,#ariel:hover,#martins:hover,#violante:hover,#luiz:hover,#damaceno:hover{

  transform: rotateX(360deg);
  color: rgba(255,255,255,1);
  width: 195px;
  height: 195px;
  
}
#gren{
  background-color: #04C400;
}

#damaceno{
  background-image: url(../Imagens/damacaco.jpg);
}

#luiz{
  background-image: url(../Imagens/luiz.jpg);
}

#ariel{
  background-image: url(../Imagens/ariel.jpg);
}

#violante{
  background-image: url(../Imagens/martins.jpg);
}

#martins{
  background-image: url(../Imagens/violas.jpg);
}

.titular{
  width: 150px;
  height: 150px;
  border-radius: 10%;
  transition: 2s;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  color: rgba(255,255,255,0);
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.reserva{

  width: 150px;
  height: 150px;
  border-radius: 10%;
  transition: 2s;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  color: rgba(255,255,255,0);
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.legenda{
  width: 100%;
  height: 100%;
  transition: 1s;
  border-radius: 10%;
  background-color: rgba(0,0,0,0);

}

.legenda:hover{
    background-color: rgba(0,0,0,0.8);
}

.container{

    width: 960px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
}

.col1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7,.col_8,.col_9,.col_10,.col_11,.col_12{

  float:left;
  padding: 1%;
  padding-bottom: 99999px;
  margin-bottom: -99999px;

}

.col_1 {

  width: 6.33333333333333%;

}

.col_2 {
  width: 14.666666666666668%;
}

.col_3 {

  width: 23%;
  background-color: black;

}

.col_4 {

  width: 31.333333333333336%;
}

.col_5 {

  width: 39.66666666666667%;
}

.col_6 {
  width: 48%;
}

.col_7 {

  width: 56.333333333333336%;
}

.col_8 {

  width: 64.66666666666667%;
}

.col_9 {

  width: 73%;
}

.col_10 {

  width: 81.33333333333334%;
}

.col_11 {

  width: 89.66666666666667%;
}

.col_12 {

  width: 98%;
}
